* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.pc-center {
  margin: 0 auto;
  width: 1200px;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

li {
  list-style: none;
}

.my-el-message {
  margin-top: 120px;
}

